@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

   /* ### Primary */

    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

    /* Fonts */

    --main-font: "Barlow Semi Condensed", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--Grey-100);
    font-family: var(--main-font);
}

main {
    display: flex;
    flex-direction: column;
    padding: 73px 35px;
    row-gap: 32px;
}

section {
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.user-profile {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

img {
    width: 35px;
    border-radius: 50%;
}

.user-name {
    font-weight: 500;
    font-size: clamp(0.8125rem, 2.5vw, 1.1rem);
}

.user-status {
    font-weight: 500;
    font-size: clamp(0.6875rem, 2.5vw, 0.8rem);
}

.topic {
    font-weight: 600;
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    text-align: justify;
}

.description {
    font-weight: 500;
    font-size: clamp(0.8125rem, 2.5vw, 1.1rem);
    line-height: 1.4;
    text-align: justify;
}

/* NAME COLORS */

#daniel-clifford h2, #jonathan-walters h2, #patrick-abrams h2 {
    color: var(--White);
}

#jeanette-harmon h2, #kira-whittle h2 {
    color: var(--Grey-500);
}

/* STATUS COLORS */

#daniel-clifford .user-status {
    color: var(--Purple-50);
}

#jonathan-walters .user-status, #kira-whittle .user-status {
    color: var(--Grey-200);
}

#jeanette-harmon .user-status {
    color: var(--Grey-400);
}

#patrick-abrams .user-status {
    color: var(--White);
}

/* PHOTO BORDER */

#daniel-clifford img {
    border: 2px solid var(--Purple-300);
}

#patrick-abrams img {
    border: 5px solid var(--Purple-500);
}

/* TOPIC AND DESCRIPTION COLORS */

#daniel-clifford h3, #jonathan-walters h3 {
    color: var(--White);
}

#daniel-clifford p {
    color: var(--Purple-50);
}

#patrick-abrams h3 {
    color: var(--Grey-200);
}

#patrick-abrams p, #jonathan-walters p {
    color: var(--Grey-100);
}

.section-items-f h3 {
    color: var(--Grey-500);
}

.section-items-f p {
    color: var(--Grey-400);
}

/* CARD COLORS */

#daniel-clifford {
    background-color: var(--Purple-500);
}

#jonathan-walters {
    background-color: var(--Grey-500);
}

#jeanette-harmon {
    background-color: var(--White);
}

#patrick-abrams {
    background-color: var(--Dark-blue);
}

#kira-whittle {
    background-color: var(--White);
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ---- Media Queries ---- */

@media screen and (min-width: 770px) and (max-width: 1440px) {
    main {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    #daniel-clifford {
        grid-area: 1 / 1 / 2 / -1;
    }

    #jonathan-walters {
        grid-area: 2 / 1 / 3 / 2;
    }

    #jeanette-harmon {
        grid-area: 2 / 2 / 3 / -1;
    }

    #patrick-abrams {
        grid-area: 3 / 1 / 4 / -1;
    }

    #kira-whittle {
        grid-area: 4 / 1 / -1 / -1;
    }
    
}

@media screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template: auto auto / repeat(4, 1fr);
        gap: 24px 32px;
    }

    #daniel-clifford {
        grid-area: 1 / 1 / 2 / 3;
    }

    #jonathan-walters {
        grid-area: 1 / 3 / 2 / 4;
    }

    #jeanette-harmon {
        grid-area: 2 / 1 / 3 / 2;
    }

    #patrick-abrams {
        grid-area: 2 / 2 / 3 / 4;
    }

    #kira-whittle {
        grid-area: 1 / 4 / -1 / -1;
    }
}